.jumbotron {
	border: 3px solid black;
	margin : {
		top: 7%;
	}
}

.jumbotron h1 {
	font : {
		family: 'Dancing Script';
		size: 100px;
	}
	padding : {
		left: 35%;
	}
	letter-spacing: 10px;
}

.pages {
	display: inline;
	list-style: none;
}

.photos {
	display: inline;
	list-style: none;
}